body{
    text-align: center;
    font-family: Helvetica;
}

.header{
    background-image: url("../images/the-flatiron-building.png");
    color: white;
    font-size: 18px;
}

h1{
    font-size: 70px;
    font-weight: bold;
}

a{
    color: White;
}

h2{
    font-size: 32px;
    font-weight: bold;
}

h3{
    font-size: 23px;
    font-weight: bold;
}

.mid-banner{
    background-image: url("../images/the-flatiron-building.png");
    color: White;
}

.desc{
    font-size: 14px;
}

.copyright{
    font-size: 11px;
    color: White;
}

.footer{
    background-color: dimgray;
    text-align: left;
}
